name: First CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Say hello from CI
        run: echo "CI Pipeline is working for Mahesh!"

      - name: Show .NET version
        run: dotnet --version

      - name: Force an error
        run: exit 1


